body{
    background-image: url('../image/vecteezy_different-bread-web-banner-with-copy-space_26466698.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation{
  background-color: #F2E3D5;
  list-style: none;
  padding: 20px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


li{
  display: inline;
  margin: 40px;

}



h1{
  font-size: 5rem;
  position: relative;
  left: 600px;

}

.brand p{
  font-size: 20px;
  position: relative;
  left: 825px;
  bottom: 10px;
  font-style: italic;
  font-size: 1rem;


}

.brand{
  position: relative;
  right: 400px;
  top: 250px;

}

.form-group {
  margin-bottom: 15px;

}

.About{
  position: relative;
   left: 450px;
   top: 300px;
   font-weight: bold;

}

button{
  background-color: #B87C4C;
  font-size: 1rem;
  border-radius: 20px;
  border: 2px solid black;
  padding: 20px 40px;
  text-align: center;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


nav p{
  font-size: 1rem;
  position: relative;
  left: 1500px;
  top: 60px;
}


.aboutpage {
 text-align: center;
  font-weight: bold;
  font-style: italic;
  position: relative;
  top: 10px;

}

.aboutpage h1 {
  font-size: 4rem;
  margin-right: 1200px;
  margin-bottom: 100px;


}

.aboutpage h2 {
  font-size: 2rem;
}

.aboutpage p {
  font-size: 1.2rem;
 
}

.menu-title{
  position: relative;
  right: 100px;
}


 .thank-you{
    position: relative;
     top: 60px;
  }

  .contactpage{
    text-align: center;
  
  }

  .contactpage h1{
    margin-right: 1110px;
    

  } 

footer{
  text-align: center;
  font-size: 1rem;
  position: relative;
  top: 450px;
}


.footer{  text-align: center;
  position: relative;
  top: 100px;
  }